body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #79e979, #2de43d);
  margin: 0;
  padding: 20px;
  color: #1f2937;
}

.contenedor-formulario {
  max-width: 500px;
  margin: auto;
}

.tarjeta {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin-bottom: 30px;
  border-left: 6px solid #51f63b; 
}

.tarjeta h2,
.tarjeta h3 {
  color: #048d16;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.campo {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  color: #374151;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #cbd5e1;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f9fafb;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #4df35a;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

input.valido,
textarea.valido {
  border-color: #22c55e;
}

input.invalido,
textarea.invalido {
  border-color: #ef4444;
}

.mensaje-error {
  color: #ef4444;
  font-size: 13px;
  margin-top: 5px;
}

.mensaje-exito {
  color: #22c55e;
  font-size: 13px;
  margin-top: 5px;
}

.password-strength {
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 5px;
  margin-top: 5px;
}

.strength-weak {
  background-color: #f87171;
  width: 25%;
}

.strength-medium {
  background-color: #facc15;
  width: 50%;
}

.strength-strong {
  background-color: #4ade80;
  width: 75%;
}

.strength-very-strong {
  background-color: #16a34a;
  width: 100%;
}

.barra-progreso {
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
}

#barraProgreso {
  background-color: #bceb3d;
  height: 100%;
  width: 0%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

#porcentajeProgreso {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 13px;
  color: #2eb803;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  flex: 1;
  padding: 12px 15px;
  background-color: #db0f08;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d8291d;
}

button:disabled {
  background-color: #176807;
  cursor: not-allowed;
}
